<ul class="contact-icons">
    <li><a href="https://twitter.com/HedonicInk" class="icon brands alt fa-twitter"><span class="label">twitter.com/hedonicink</span></a></li>
    <li><a href="https://rpg-talk.com/" class="icon brands alt fa-discord"><span class="label">a discord I hang out on</span></a></li>
    <li><a href="https://www.instagram.com/hedonicink/" class="icon brands alt fa-instagram"><span class="label">huh. i have an instagram?</span></a></li>
    <li><a href="https://www.hedonic.ink/" class="icon  alt fa-dice"><span class="label">my blog at hedonic.ink</span></a></li>
    <!-- <li><a href="#" class="icon solid alt fa-envelope"><span class="label">contact@untitled.tld</span></a></li>-->
</ul>