---
layout: default
---

		<!-- Page wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<span class="logo"><a href="index.html">a public domain project</a> by <a href="https://www.hedonic.ink" style="color: #282828; font-weight: normal;">hedonic ink</a></span>
						<a href="#menu"><span>Menu</span></a>
					</header>

				{% include nav.html %}

				<!-- Main -->
					<section id="main" class="wrapper style2">
						<div class="inner">
							<header class="major special">
								<h1>The Art</h1>
								<p>Right click and "save image as" to get the image in svg format; use "save link as" to get it in eps format. To download them all at once, clone the <a href="https://github.com/exposit/public-domain-assets">github repo</a>. Either format should rescale well in your art program of choice -- I use Affinity Suite.</p>
							</header>

							<ul class="tabs">
								<li>
									<h3>All</h3>
									<div class="gallery">

									{% for file in site.static_files %}
										{% if file.path contains 'svg/' %}
											{% if file.extname == '.svg'  %}
												{% assign xpath = file.path %}
												{% assign epath = file.path | replace: "svg", "eps" %}
												<a href="{{epath | absolute_url}}"><img src="{{xpath  | absolute_url}}" alt="image" style="max-height: 15em"/></a>
											{% endif %}
										{% endif %}
									{% endfor %}
								
									</div>
								</li> 
								<li>
									<h3>Where Mystery Dwells</h3>
									<div class="gallery">
										{% for file in site.static_files %}
										{% if file.path contains 'svg/where mystery dwells' %}
											{% if file.extname == '.svg'  %}
												{% assign xpath = file.path %}
												{% assign epath = file.path | replace: "svg", "eps" %}
												<a href="{{epath | absolute_url}}"><img src="{{xpath  | absolute_url}}" alt="image" style="max-height: 15em"/></a>
											{% endif %}
										{% endif %}
									{% endfor %}
									</div>
								</li><!--
								<li>
									<h3>Landscapes</h3>
									<div class="gallery">
???
									</div>
								</li>-->
								<li>
									<h3>Miscellaneous</h3>
									<div class="gallery">
										{% for file in site.static_files %}
										{% if file.path contains 'svg/misc' %}
											{% if file.extname == '.svg'  %}
												{% assign xpath = file.path %}
												{% assign epath = file.path | replace: "svg", "eps" %}
												<a href="{{epath | absolute_url}}"><img src="{{xpath  | absolute_url}}" alt="image" style="max-height: 15em"/></a>
											{% endif %}
										{% endif %}
									{% endfor %}
									</div>
								</li>-->
							</ul>
						</div>
					</section>

				<!-- Footer -->
					<section id="footer" class="wrapper">
						<div class="inner">
							<div class="split">
								<div class="content">
									{% include aboutblurb.html %}
								</div>
								{% include socialmedia.html %}
							</div>
						</div>
					</section>

					{% include copyright.html %}

			</div>

			{% include scripts.html %}
